* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

button {
    height: 30px;
    width: 15%;
    border: 2px solid black;
    border-radius: 7px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    background-color: lightslategray;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

.del-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}